{% extends 'base.html' %}

{%block content%}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
	{% for student in students %}
		<div class="row">
	    	<a href="{% url 'ratings.views.student_page' pk=student.pk %}">{{ student.user.username }}</a>
            | {{ student.group.department.faculty }} / {{ student.group.department }} / {{student.group}}
            {% if student.is_leader %}
            (leader)
            {% endif %}
	    </div>
	{%endfor%}

    <div class="pagination">
    <span class="step-links">
        {% if students.has_previous %}
            <a href="?page={{ students.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}.
        </span>

        {% if students.has_next %}
            <a href="?page={{ students.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
    </div></div></div>
{%endblock content%}