{% extends 'base.html' %}

{% block content %}
    <div>
		<a href="{% url 'ratings.views.group_page' pk=group.pk %}">{{ group.name }}</a>

        {% if perm_to_see_votes %}
            <p>Avg rating: {{ group.avg_rating }}</p>
		    <p>Count of votes: {{ group.count_of_votes }}</p>
        {% endif %}

        {% if message %}
            {{ message }}
        {% endif %}

        {% if perm_to_vote %}
            <form method="POST" class="post-form" action="{% url 'ratings.views.vote_group' pk=group.pk %}">{% csrf_token %}
                {%for i in range%}
                    {% if forloop.last %}
                        <input type="radio" name="vote" id="vote{{ i }}" value="{{ i }}" checked="checked" />
                    {% else %}
                        <input type="radio" name="vote" id="vote{{ i }}" value="{{ i }}" />
                    {% endif %}
                    <label for="vote{{ i }}">{{ i }} Star(s)</label><br />
                {%endfor%}
                <input type="submit" value="Vote" />
            </form>

        {% endif %}

        {% if perm_to_comment %}
            {% include 'comments.html' %}
        {% endif %}

    </div>
{% endblock %}