{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="row">
	    	<a href="{% url 'ratings.views.student_page' pk=student.pk %}">{{ student.user.username }}</a>
            | {{ student.group.department.faculty }} / {{ student.group.department }} / {{student.group}}
            {% if student.is_leader %}
            (leader)
            {% endif %}
	    </div>

        {% if student.user.events.all %}
            Subsribed for:
            {% for event in student.user.events.all %}
               <p> {{ event.name }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}