{% extends 'base.html' %}

{% block content %}
    <div>
		<a href="{% url 'ratings.views.teacher_page' pk=teacher.pk %}">{{ teacher.user.username }}</a>
		<p>{{ teacher.avg_rating }}</p>
		<p>{{ teacher.count_of_votes }}</p>
		<form method="POST" class="post-form" action="{% url 'ratings.views.vote' pk=teacher.pk %}">{% csrf_token %}
			{%for i in range%}
				<input type="radio" name="vote" id="vote{{ i }}" value="{{ i }}" />
				<label for="vote{{ i }}">{{ i }} Star(s)</label><br />
			{%endfor%}
			<input type="submit" value="Vote" />
		</form>

        {% for event in teacher.user.events.all %}
           <p> {{ event.name }}</p>
        {% endfor %}
	</div>
{% endblock %}