{% extends 'base.html' %}

{% block content %}
    <div>
        University:
        {{ university.name }},
        avg rating:
        {{ university.avg_rating }}
        {% for faculty in university.faculties.all %}
            <br/>
            &nbsp;Faculty name: {{ faculty.name }}, avg rating: {{ faculty.avg_rating }}

            {% for department in faculty.departments.all %}
                <br/>
                &nbsp;&nbsp;Department name: {{ department.name }}, avg rating: {{ department.avg_rating }}
                <br />
                &nbsp;&nbsp;&nbsp;Teachers:
                {% for teacher in department.teachers.all %}
                    <br />
                    &nbsp;&nbsp;&nbsp;Name: {{ teacher }}.
                    &nbsp;&nbsp;&nbsp;Avg rating: {{ teacher.avg_rating }}
                {% endfor %}
                <hr />
                &nbsp;&nbsp;&nbsp;Groups:
                {% for group in department.groups.all %}
                    <br />
                    &nbsp;&nbsp;&nbsp;Name: {{ group }}.
                    &nbsp;&nbsp;&nbsp;Avg rating: {{ group.avg_rating }}
                {% endfor %}
                <hr />
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}