{% extends 'base.html' %}

{% block content %}
    <!--todo:make this accordion
        <script>
        $(function() {
            $( ".faculty" ).accordion({
                collapsible: true,
                header: ".department"
            });
        });

        $(function() {
            $( ".department" ).accordion({
                collapsible: true,
                header: ".teachers-groups"
            });
        });
    </script>-->

    <div>
        <h2>{{ university.name }}</h2> (avg rating:

        {{ university.avg_rating }})
        {% for faculty in university.faculties.all %}
            <br/>
            <div class="faculty">
                &nbsp;<h3> {{ faculty.name }}</h3> (avg rating: {{ faculty.avg_rating }})

                {% for department in faculty.departments.all %}
                    <br/>
                    <div class="department">
                        &nbsp;&nbsp;<h4> {{ department.name }} </h4> (avg rating: {{ department.avg_rating }})
                        <br />
                        &nbsp;&nbsp;&nbsp;Teachers:
                        {% for teacher in department.teachers.all %}
                            <br />
                            <div class="teacher teachers-groups">
                                &nbsp;&nbsp;&nbsp;Name: <a href="{% url 'ratings.views.teacher_page' pk=teacher.pk %}">{{ teacher.user.username }}</a>
                                &nbsp;&nbsp;&nbsp;Avg rating: {{ teacher.avg_rating }}
                            </div>
                        {% endfor %}
                        <hr />
                        &nbsp;&nbsp;&nbsp;Groups:
                        {% for group in department.groups.all %}
                            <br />
                            <div class="group teachers-groups">
                                &nbsp;&nbsp;&nbsp;Name: <a href="{% url 'ratings.views.group_page' pk=group.pk %}">{{ group.name }}</a>
                                &nbsp;&nbsp;&nbsp;Avg rating: {{ group.avg_rating }}
                            </div>
                        {% endfor %}
                        <hr />
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}