<!-- begin htmlcommentbox.com -->
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Widget</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=(""+window.location).replace(/'/g,"%27") || hcb_user.PAGE, h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&opts=16862&num=10");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end htmlcommentbox.com -->

<script>
    var hide = function() {
        var aTags = document.getElementsByTagName("a");
        var searchText = "Html Comment Box";
        var found;

        for (var i = 0; i < aTags.length; i++) {
            if (aTags[i].textContent == searchText) {
                found = aTags[i];
                found.parentNode.removeChild(found);
                break;
            }
        }
    }

    window.onload = hide;

    var inputTags = document.getElementsByTagName("input");
    var valueText = "Comment";
    var button;
    for (var i = 0; i < inputTags.length; i++) {
        if (inputTags[i].value == valueText) {
            button = inputTags[i];
            break;
        }
    }

    button.onclick = function() {
        var save_method = make_comment_form;

        make_comment_form = function() {
            save_method();
            hide();
        }
    }
</script>