{% extends 'base.html' %}

{%block content%}


    {% if perm_to_create %}
        <a href="{% url 'event_create' %}"> Create new event </a>
    {% endif %}

    <br />
<div class="content container">
        <div class="row">
            <div class="col-md-8">
	{% for event in events %}
        <a href="{% url 'events.views.event_page' pk=event.pk %}">{{ event.name | upper }}</a>
        <br />
        {{ event.text }}

        <hr>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if events.has_previous %}
            <a href="?page={{ events.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ events.number }} of {{ events.paginator.num_pages }}.
        </span>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}">next</a>
        {% endif %}
    </span>
</div></div></div></div>
{%endblock content%}