{% extends 'base.html' %}

{% block content %}
    <div>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        {% if request.user == event.creator or request_user == event.creator %}
            <a href="{% url "event_edit" pk=event.pk %}">Edit</a>
        {% endif %}

		<a href="{% url 'event_page' pk=event.pk %}">{{ event.name }}</a>
		<br />
		<p>{{ event.text }}</p>

        {% if event.creator %}
            <p>Creator: {{ event.creator }}</p>
        {% endif %}

        {% if not user.is_anonymous and not subscribed %}
            <a href="{% url 'event_subscribe' pk=event.pk %}">Subscribe</a>
        {% elif not user.is_anonymous and subscribed %}
            <a href="{% url 'event_unsubscribe' pk=event.pk %}">Unsubscribe</a>
        {% endif %}
        <br />
        Subscribers:
        {% for subscriber in event.subscribers.all %}
            {{ subscriber.username }}
            {% if forloop.last == False %} | {% endif %}
        {% endfor %}

	</div>

    {% include 'comments.html' %}

{% endblock %}